<%- include header.ejs %>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#">Mens Categories</a></li>
</ul>

    <div class="bodyContainer">
        <h1><%= title %></h1>
        
        <% _.each(items, function(topC) { %>
        
        <h1><%= topC.name %></h1>
        <p><%= topC.page_description %></p>
        <% if (topC.image) { %>
        <div>
            <img src="/images/<%= topC.image %>">
        </div>
        <% } %>
        <div>
            <h1>Subcategories</h1>
            <% _.each(topC.categories, function(subC) { %>
            
            <h2><%= subC.name %></h1>
            <% if (subC.image) { %>
                <div>
                    <img src="/images/<%= subC.image %>" class="image">
                </div>
            <% } %>
            <p><%= subC.page_description %></p>
            

            <a href="/productListing?subcategory=<%= subC.id%>">
                <button class="btn" type="submit">View Products</button>
            </a>
            <hr style="width:50%;text-align:left;margin-left:0">
            <% }); %>                    
            
        </div>    
        
        <% }); %>
        
    </div>

<%- include footer.ejs %>