<%- include header.ejs %>

<ul class="breadcrumb">
  <li><a href="/">HOME</a></li>
  <li><a href="<%= title %>"><%= title %></a></li>
  <li>Product Listing</li>
</ul>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="col-lg-9">

    <div class="card mt-4">
      <img class="card-img-top img-fluid" src="images/<%= item.image_groups[2].images[0].link %>" alt="">
      <div class="card-body">
        <h3 class="card-title"><%= item.name %></h3>
        <h4>Price:<%= item.price %></h4>
        <p class="card-text"><%= item.long_description %></p>
        <a href="">
            <button class="btn" type="submit">Buy Now</button>
        </a>
      </div>
    </div>
    <!-- /.card -->

  </div>
  <!-- /.col-lg-9 -->